* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
}

.discount {
  width: 50%;
  color: black;
  font-weight: 600;
}
.product {
  width: 100%;
  padding: 10px 10px;
  background: transparent;
  color: blue;
  margin: 10px 0;
}

.detailProduct {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 10px;
}

p {
  margin: 10px 10px;
  font-size: 14px;
  text-align: justify;
}

h4 {
  font-size: 12px;
  text-align: justify;
  color: black;
  text-decoration: line-through;
  margin: 10px 10px;
}

h5 {
  margin: 10px 10px;
}

.containerProduct {
  padding: 16px;
  margin-top: 20px;
  margin-left: 50px;
  width: 90%;
}

input[type='text'] {
  width: 100%;
  align-self: center;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
